# DATABASE_URL=postgres://postgres:postgres@localhost:5432/app
BASE_URL=http://127.0.0.1:8000
DEBUG=True
SECRET_KEY=SECRET_CHANGE
ALLOWED_HOSTS=*
CSRF_TRUSTED_ORIGINS=http://127.0.0.1
MAILGUN_SENDER_DOMAIN=MAILGUN_SENDER_DOMAIN
MAILGUN_API_KEY=MAILGUN_API_KEY
SENTRY_DSN=https://11cbc1ac1dc1b1111e111111f11ee111c@o1111111.ingest.us.sentry.io/1111111111111111
OPENAI_API_KEY=OPENAI_API_KEY
REDIS_URL=redis://127.0.0.1:6379/1