Django==5.2.8
pillow==10.4.0
djangorestframework==3.14.0
django-cors-headers==4.9.0
django-lifecycle
python-decouple==3.8
django-filter==25.2
djangorestframework-camel-case==1.4.2
requests==2.31.0
dj-database-url==0.5.0
psycopg2-binary==2.9.3
django-redis
redis==5.2.1
channels[daphne]
channels-redis
uvicorn[standard]
whitenoise==6.9.0
django-hijack==3.7.4
django-anymail[mailgun]==13.1
django-pgcrypto
sentry-sdk
django-storages==1.14.4
boto3==1.35.76
pywebpush==2.0.1
firebase-admin==6.6.0
qrcode[pil]==8.2